
.idea/

cmake-build-debug/

*.out

main

bin/

tables.txt
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ParallelAlgorithms/v16/.suo
.vs/ParallelAlgorithms/v16/Browse.VC.db
MatrixVectorProd/.vs/MatrixVectorProd/v16/.suo
MatrixVectorProd/.vs/MatrixVectorProd/v16/Browse.VC.db
MatrixVectorProd/.vs/MatrixVectorProd/v16/ipch/AutoPCH/b7d38227a399ba14/MATRIXVECTORPROD.ipch
MatrixVectorProd/MatrixVectorProd/MatrixVectorProd.vcxproj.user
MatrixVectorProd/MatrixVectorProd/MatrixVectorProd.vcxproj.filters

MatrixVectorProd/.vs/

MatrixVectorProd/Debug/

MatrixVectorProd/MatrixVectorProd/Debug/
